# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual env
env/
venv/
.venv/

# IDE / Editors
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# PyPI artifacts
build/
dist/
*.egg-info/

# PyPI credentials file
.pypirc